.btn1{

    height: 50px;
    width: 50%;
    border: none;
    outline: none;
    border-radius: 60px;
    font-weight: 600;
    background: rgb(209, 68, 68);
    color: azure;
}

.btn1:hover{
    background-color: brown;
    transition: 0.5s;
}

.btn2{

    height: 30px;
    width: 10%;
    border: none;
    outline: none;
    border-radius: none;
    font-weight: 400;
    background: rgb(11, 203, 31);
    color: azure;
    font-size: medium;
    margin-bottom: 4px;
}

.btn2:hover{
    background-color: rgb(18, 88, 6);
    transition: 0.5s;
}

