<!-- Product section--> 
<!-- i.id.image -->







<img src="../../../assets/orders1.webp" class="img-fluid mb-2 mt-0" alt="Responsive image">

<!-- .................................................................... -->

<section class="py-5">
    <div *ngIf="getCartData()" class="container px-4 px-lg-5 my-5">
        <div class="row gx-4 gx-lg-5 align-items-center" *ngFor="let i of cartData;">
            <div class="col-md-6"><img class="card-img-top mb-5 mb-md-0" src="{{i.id.image}}" alt="" /></div>
            <div class="col-md-6">
                <div class="small mb-1"></div>
                <h3 class="display-5 fs-3"><b>{{i.id.name}}</b></h3>
                <div class="fs-5 mb-3">
                    <p class="lead">{{i.id.description}}</p>
                        <span class="text">{{i.id.brand}}</span> <br>
                        <span class="text"> &#8377;{{i.id.price}}</span><br>
                        <span>Rating&#9733; <strong>{{i.id.rating}}</strong></span><br>
                        <span>Quantity  <strong>{{i.quantity}}</strong></span><br>

                </div>
               
                <div class="d-flex">
                    <button class="btn btn-outline-dark flex-shrink-0 m-2" type="button">
                        <i class="bi-cart-fill me-1"></i>
                        <a class="m-2"(click)="removeProduct(i.id._id)" style="text-decoration: none; color: rgb(9, 9, 9);"><i class='fa fa-remove'></i>Remove</a>
                    </button>

                    

                </div>

            </div>
        </div>
    </div>


<div *ngIf="getCartData()" >
    
        <div class="offset-1 col-lg-10 d-flex justify-content-center align-items-center flex-shrink-0">
            <button  data-bs-toggle="offcanvas" data-bs-target="#offcanvasTop" aria-controls="offcanvasTop" type="button" class="btn1">Check-Out</button>
        
            <div class="offcanvas offcanvas-top " tabindex="-1" id="offcanvasTop" aria-labelledby="offcanvasTopLabel">
                <div class="offcanvas-header d-flex justify-content-center align-items-center">
                  <h5 class="offcanvas-title fs-1" id="offcanvasTopLabel">Thank you</h5>
                </div>
                <div class="offcanvas-body d-flex justify-content-center align-items-center">
                    <p class="fs-3">Your Order has been successfully placed..</p><br>  
                </div>
             <div class="offcanvas-body d-flex justify-content-center align-items-center">  
                 <button class="btn2" (click)=" buynow()" >OK</button></div>
              </div>
        
        </div>
</div>




    <div *ngIf="!getCartData()" class="container px-4 px-lg-5 my-" style="text-align: center;">

<div class="container mt-5 bg-light" >


<div class="center"><img src="https://i.postimg.cc/3NDNLZwN/cartempty.png" alt=""></div>
<button routerLink="" class="btn btn-primary m-5">SHOP NOW</button>


</div>
                    
    </div>
</section>




<div class="row">
    <div class="col-lg-4 col-md-12 mb-4 mb-lg-0">
      <img
        src="https://i.postimg.cc/GmhLD2Dp/xtra1.jpg"
        class="w-100 shadow-1-strong rounded mb-4"
        alt="Boat on Calm Water"
      />
    </div>
  
    <div class="col-lg-4 mb-4 mb-lg-0">
      <img
        src="https://i.postimg.cc/RFrxgVWK/xtra2.jpg"
        class="w-100 shadow-1-strong rounded mb-4"
        alt="Boat on Calm Water"
      />
    </div>
  
    <div class="col-lg-4 mb-4 mb-lg-0">
      <img
        src="https://i.postimg.cc/TY3FqWtB/xtra3.jpg"
        class="w-100 shadow-1-strong rounded mb-4"
        alt="Waves at Sea"
      />
    </div>
  </div>

